<div class="content">
	<button class="btn btn-default pull-right" ng-click="ctrl.addRecord()">Add</button>
	<h1 class="text-center">Manage Drinks</h1>

	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="drink in ctrl.drinks">
			<td>{{drink.name}}</td>
			<td style="text-align: right">
				<button ng-click="ctrl.edit(drink)">Edit</button>
				<button ng-click="ctrl.deleteDrink(drink)">Delete</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>