<div class="content">
	<button class="btn btn-default btn-lg pull-right" ng-click="ctrl.addRecord()">Add</button>
	<h1 class="text-center">Manage Ingredients</h1>

	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="ingredient in ctrl.ingredients | orderBy:'name'">
			<td>{{ingredient.name}}</td>
			<td style="text-align: right">
				<button ng-click="ctrl.edit(ingredient)">Edit</button>
				<button ng-click="ctrl.deleteRecord(ingredient)">Delete</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>