<div class="content">
	<a ng-href="/manage/ingredients/form"><button class="btn btn-default pull-right">Add</button></a>
	<h1 class="text-center">Manage Ingredients</h1>

	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="ingredient in ctrl.ingredients">
			<td>{{ingredient.name}}</td>
			<td>
				<a ng-href="/manage/ingredients/form/{{ingredient._id}}"><button>Edit</button></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>