<div class="content">
	<button onclick="history.back()" class="btn btn-default btn-lg pull-left">Back</button>
	<button ng-click="ctrl.save()" class="btn btn-primary btn-lg pull-right">Save</button>
	<button ng-click="ctrl.addPump()" class="btn btn-default btn-lg pull-right" style="margin-right: 20px">Add</button>
	<h1 class="text-center">Manage Pumps</h1>

	<table class="table">
		<thead>
		<tr>
			<th>PIN</th>
			<th>Ingredient</th>
			<th>ml/minute Rating</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="pump in ctrl.pumps">
			<td>
				<select class="form-control" ng-model="pump.pin">
					<option ng-repeat="pin in ctrl.pins" value="{{pin.id}}" ng-selected="pin.id == pump.pin">{{pin.label}}</option>
				</select>
			</td>
			<td>
				<select class="form-control" ng-model="pump.ingredient">
					<option value=""></option>
					<option ng-repeat="possibleIngredient in ctrl.ingredients" value="{{possibleIngredient.name}}" ng-selected="possibleIngredient.name == pump.ingredient">{{possibleIngredient.name}}</option>
				</select>
			</td>
			<td>
				<input class="form-control" type="text" ng-model="pump.ml_per_minute"/>
			</td>
			<!--<td class="text-right">
				<button ng-click="ctrl.deleteRecord(pump)">Delete</button>
			</td>-->
		</tr>
		</tbody>
	</table>

	<div class="gpio-picture">
		<img src="/img/GPIO_Pi2.png" alt="GPIO layout"/>
	</div>
</div>