<!DOCTYPE html>
<html ng-app="drinks">
<head lang="en">
    <meta charset="UTF-8">
    <title>Drink Machine</title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="">Drankz</a>
            </div>
        </div>
    </nav>

    <div class="content" ng-controller="IndexController as index">
        <h1 class="text-center">Step One</h1>

        <div ng-repeat="drink in index.drinks" class="col-sm-4 drink-listing-container">
            <div class="drink-inner" ng-class="{'selected-drink': index.drink.id == drink.id}" ng-click="index.drink.id = drink.id">
                <h3>{{drink.name}}</h3>
                <ul class="ingredients">
                    <li ng-repeat="ingredient in drink.ingredients">{{ingredient.desc}}</li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
        <h1 class="text-center">Step Two</h1>

        <div class="drink-size-container">
            <label for="drink-size" class="sr-only">Amount</label>
            <input class="form-control" type="text" id="drink-size" ng-model="index.drink.size" value="100"/>
        </div>

        <div class="button-container">
            <button class="btn btn-default" id="make-button" ng-click="index.make()">PREPARE</button>
        </div>
    </div>
</div>

<script src="/vendor/angular/angular.js" type="application/javascript"></script>
<script src="/vendor/angular-route/angular-route.js" type="application/javascript"></script>
<script src="/vendor/angular-resource/angular-resource.js" type="application/javascript"></script>
<!--<script src="/vendor/bootstrap/js/bootstrap.js"></script>-->

<script src="/js/app/app.js" type="application/javascript"></script>
<script src="/js/app/IndexController.js" type="application/javascript"></script>
<script src="/js/app/DrinkService.js" type="application/javascript"></script>
<script src="/js/app/DrinkResource.js" type="application/javascript"></script>
</body>
</html>