<!DOCTYPE html>
<html ng-app="drinks">
<head lang="en">
	<meta charset="UTF-8">
	<title>Drink Machine</title>
	<base href="/"/>

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container-fluid">
	<!-- Static navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" ng-href="/">Drankz</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Manage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-href="" nav="/manage/drinks">Drinks</a></li>
						<li><a ng-href="" nav="/manage/ingredients">Ingredients</a></li>
						<li><a ng-href="" nav="/manage/pumps">Pumps</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Alerts -->
	<div ng-controller="common.AlertController" id="alerts-container">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}	">
			<div ng-bind-html="alert.msg"></div>
		</alert>
	</div>

	<div ng-view=""></div>

</div>

<%if (env == 'prod' && false) { %>

<script src="/js/drinks.min.js" type="application/javascript"></script>

<% } else { %>

<script src="/vendor/jquery/jquery.js" type="application/javascript"></script>
<script src="/vendor/angular/angular.js" type="application/javascript"></script>
<script src="/vendor/angular-route/angular-route.js" type="application/javascript"></script>
<script src="/vendor/angular-resource/angular-resource.js" type="application/javascript"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>

<script src="/app/common/app.js" type="application/javascript"></script>
<script src="/app/common/AlertController.js" type="application/javascript"></script>
<script src="/app/common/AlertService.js" type="application/javascript"></script>
<script src="/app/common/directives/app.js" type="application/javascript"></script>
<script src="/app/common/directives/nav.js" type="application/javascript"></script>

<script src="/app/drinks/app.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/IndexController.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/MakeModalController.js" type="application/javascript"></script>
<script src="/app/drinks/services/LocationService.js" type="application/javascript"></script>
<script src="/app/drinks/services/DrinkService.js" type="application/javascript"></script>
<script src="/app/drinks/resources/DrinkResource.js" type="application/javascript"></script>
<script src="/app/drinks/resources/IngredientResource.js" type="application/javascript"></script>
<script src="/app/drinks/resources/PumpResource.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/manage/DrinksController.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/manage/DrinksFormController.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/manage/IngredientsController.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/manage/IngredientsFormController.js" type="application/javascript"></script>
<script src="/app/drinks/controllers/manage/PumpsController.js" type="application/javascript"></script>

<% } %>

</body>
</html>