<!DOCTYPE html>
<html ng-app="drinks">
<head lang="en">
	<meta charset="UTF-8">
	<title>Drink Machine</title>
	<base href="/"/>

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container" ng-controller="drinks.controller.DesktopController as deskctrl">
	<!-- Static navbar -->
	<nav class="navbar navbar-default" ng-controller="drinks.controller.NavbarController as ctrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" ng-href="/">Drankz</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Manage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-href="" ng-click="ctrl.go('/manage/drinks')">Drinks</a></li>
						<li><a ng-href="" ng-click="ctrl.go('/manage/ingredients')">Ingredients</a></li>
						<li><a ng-href="" ng-click="ctrl.go('/manage/pumps')">Pumps</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<div ng-view=""></div>
</div>

<%if (env == 'prod') { %>

<script src="/js/drinks.min.js" type="application/javascript"></script>

<% } else { %>

<script src="/vendor/jquery/jquery.js" type="application/javascript"></script>
<script src="/vendor/angular/angular.js" type="application/javascript"></script>
<script src="/vendor/angular-route/angular-route.js" type="application/javascript"></script>
<script src="/vendor/angular-resource/angular-resource.js" type="application/javascript"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>

<script src="/app/js/app.js" type="application/javascript"></script>
<script src="/app/js/DesktopController.js" type="application/javascript"></script>
<script src="/app/js/IndexController.js" type="application/javascript"></script>
<script src="/app/js/NavbarController.js" type="application/javascript"></script>
<script src="/app/js/LocationService.js" type="application/javascript"></script>
<script src="/app/js/DrinkService.js" type="application/javascript"></script>
<script src="/app/js/DrinkResource.js" type="application/javascript"></script>
<script src="/app/js/IngredientResource.js" type="application/javascript"></script>
<script src="/app/js/PumpResource.js" type="application/javascript"></script>
<script src="/app/js/manage/DrinksController.js" type="application/javascript"></script>
<script src="/app/js/manage/DrinksFormController.js" type="application/javascript"></script>
<script src="/app/js/manage/IngredientsController.js" type="application/javascript"></script>
<script src="/app/js/manage/IngredientsFormController.js" type="application/javascript"></script>
<script src="/app/js/manage/PumpsController.js" type="application/javascript"></script>

<% } %>

</body>
</html>