body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul.ingredients {
	padding-left: 40px;
	line-height: 1.5em;
	font-size: 1.2em;
	margin-top: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px
}

#make-button {
    width: 100%;
	font-size: 43px;
}

.gpio-picture img {
	width: 100%;
}

.drink-color-background {
	background-color: #FF0000;
	padding: 0;
	border-radius: 7px;
}
.drink-color-background.selected-drink .drinkContainer {
	opacity: .6;
}

.drinkContainer {
	height: 280px;
	color: white;
	border-radius: 7px;
}
.drinkContainer h3 {
	background-color: rgba(0,0,0,.3);
	text-align: center;
	padding: 5px 0;
}

.drink-size-container {
	text-align: center;
}
.drink-size-container label.btn {
	font-size: 43px;
	width: 32%;
}

footer {
	margin-top: 20px;
}
footer p {
	text-align: center;
}